html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/*-- stretch box vertically as much as possible --*/
.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

